@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');

* {
  font-family: 'Fredoka', sans-serif;
}

.nav-tabs {
  display: inline-flex;
  margin-bottom: 20px;
  list-style: none;
  margin-left: 25%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.nav-tabs .nav-item {
  margin-right: 10px;
}

.nav-tabs .nav-link {
  border: none;
  text-wrap: nowrap;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 10px 25px;
  background-color: #bebebe;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.nav-tabs .nav-link:hover {
  background-color: #3d3c3c;
}

.nav-tabs .nav-link.active {
  background-color: #19d620;
  color: white;
  border: 4px solid transparent;
}

.tab-content {
  padding: 20px;
  border-top: none;
  border-radius: 0 4px 4px 4px;
}

.room-list-container {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
}

.room-list-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.room-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.room-table th,
.room-table td {
  width: 20%;
  border: 1px solid rgb(78, 78, 78);
  padding: 10px 20px;
  text-align: center;
}

.room-table th {
  background-color: rgb(238, 238, 238, 1);
  font-weight: bold;
  font-size: 28px;
}

.room-table tbody tr {
  vertical-align: middle;
}

.room-list-body {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  /* background-color: white; */
}

.tab-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  margin: 10px 0;
  z-index: 10;
  background-color: rgba(212, 203, 4, 0.9);
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.filters button {
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filters button img {
  width: 84px;
  height: 84px;
}