<div class="room-list-container">

  <!-- Tabs navigation -->
  <div class="room-list-header">
    <ul class="nav nav-tabs" id="roomTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link" [class.active]="activeTab === 'available'" (click)="selectTab('available')">Available
          Rooms</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" [class.active]="activeTab === 'myrooms'" (click)="selectTab('myrooms')">My Rooms</a>
      </li>
    </ul>

    <div class="filters">
      <button (click)="toggleAscending()">
        <img *ngIf="isAscending" src="sort-ascending.png" alt="Ascending">
        <img *ngIf="!isAscending" src="sort-descending.png" alt="Descending">
      </button>
      <button (click)="toggleProtected()">
        <img *ngIf="isProtected" src="padlock.png" alt="Protected Rooms Only">
        <img *ngIf="!isProtected" src="unlocked.png" alt="Unprotected Rooms Only">
      </button>
    </div>
  </div>
  <!-- Tabs content -->
  <div class="tab-content" id="roomTabsContent">
    <div id="snackbar"></div>
    <div *ngIf="activeTab === 'available'" class="tab-pane fade show active">
      <table class="room-table">
        <thead>
          <tr>
            <th>Room Name</th>
            <th>Players</th>
            <th>Game State</th>
            <th>Password</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
      <div class="room-list-body" *ngIf="rooms.length > 0">
        <app-room-item *ngFor="let room of rooms" [room]="room" (roomSelected)="onRoomSelected($event)"></app-room-item>
      </div>
    </div>

    <div *ngIf="activeTab === 'myrooms'" class="tab-pane fade show active">
      <table class="room-table">
        <thead>
          <tr>
            <th>Room Name</th>
            <th>Players</th>
            <th>Game State</th>
            <th>Password</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
      <div class="room-list-body" *ngIf="myRooms.length > 0">
        <app-room-item *ngFor="let room of myRooms" [room]="room"
          (roomSelected)="onRoomSelected($event)"></app-room-item>
      </div>
    </div>
  </div>
</div>