<div class="game-container">

    <ng-template #wordSelectionModal>
        <div mat-dialog-content>
            <p class="select-header">Select a Word</p>
            <div class="word-options">
                <button mat-button *ngFor="let word of selectables" (click)="selectWord(word)">
                    {{ word }}
                </button>
            </div>
        </div>
    </ng-template>

    <div class="game-canvas-container">
        <div class="score-word-container">
            <div class="score-container redTeam">
                <span>Red Team - {{gameRoundView?.redScore}}</span>
            </div>

            <div class="word-container">
                <span *ngIf="this.drawEnabled && gameRoundView?.selectedWord">{{gameRoundView?.selectedWord}}</span>
                <span *ngIf="!this.drawEnabled">Guess the word! -> {{this.hint}}</span>
            </div>

            <div class="score-container blueTeam">
                <span>{{gameRoundView?.blueScore}} - Blue Team</span>
            </div>
        </div>

        <div class="whiteboard-wrapper">
            <!-- Timer and Round Info -->
            <div class="overlay">
                <div class="time-container">
                    <img src="stopwatch.png" alt="Timer Icon">
                    <span class="timer-text">{{this.currentTimer}}</span>
                </div>
                <div class="round-container">
                    <span>Round {{gameRoundView?.currentRound}} of {{gameModelView?.totalRounds}}</span>
                </div>
            </div>

            <div class="notification-overlay" *ngIf="notificationText">
                <div class="notification-content">
                    {{ notificationText }}
                </div>
            </div>

            <app-whiteboard [drawEnabled]="this.drawEnabled" 
            [gameId]="gameModelView?._id!"
            [isPainter]="this.isPainter">
            </app-whiteboard>
        </div>
    </div>
</div>