<div class="game-container">

    <ng-template #wordSelectionModal>
        <div mat-dialog-content>
            <h2>Select a Word</h2>
            <div class="word-options">
                <button mat-button *ngFor="let word of selectables" (click)="selectWord(word)">
                    {{ word }}
                </button>
            </div>
        </div>
    </ng-template>


    <div class="score-word-container">
        <div class="score-container redTeam">
            <span>Red Team: {{gameRoundView?.redScore}}</span>
        </div>

        <div class="word-container">
            <span *ngIf="this.drawEnabled && gameRoundView?.selectedWord">{{gameRoundView?.selectedWord}}</span>
            <span *ngIf="!this.drawEnabled">Guess the word! Hint : {{this.hint}}</span>
        </div>

        <div class="score-container blueTeam">
            <span>Blue Team: {{gameRoundView?.blueScore}}</span>
        </div>
    </div>

    <div class="whiteboard-wrapper">
        <!-- Timer and Round Info -->
        <div class="overlay">
            <div class="time-container">
                <span>Time Left: ({{this.currentTimer}})</span>
                <span>{{this.currentTimer}}</span>
            </div>
            <div class="round-container">
                <span>Round {{gameRoundView?.currentRound}} of {{gameModelView?.totalRounds}}</span>
            </div>
        </div>

        <!-- Whiteboard Component -->
        <!-- <app-whiteboard></app-whiteboard> -->
    </div>
    <!-- Mozda crtanje, boje itd da bude ovde a ne u whiteboard -->
</div>