<div class="room-container">
  <!-- Header -->
  <div class="room-header">
    <div class="room-name">
      <h2>{{ room?.roomName }}</h2>
    </div>

    <div *ngIf="room?.gameState === 'Waiting'" class="room-status">
      <p>Waiting for players...</p>
    </div>

    <div *ngIf="!gameStarted" class="room-round">
      <p>Round {{ currentRound }} of {{ totalRounds }}</p>
    </div>
  </div>

  <!-- Teams WhiteBoard Chat -->
  <div class="room-main">
    <div class="teams-canvas-chat-container">

      <!-- Teams -->
      <div class="teams-container">
        <!-- Red Team -->
        <app-user-list class="user-team-list" [users]="users" [team]="redTeam" [currentTeam]="currentTeam"
          className="Red" (teamChange)="handleTeamJoin($event)"></app-user-list>
        <!-- Blue Team -->
        <app-user-list class="user-team-list" [users]="users" [team]="blueTeam" [currentTeam]="currentTeam"
          className="Blue" (teamChange)="handleTeamJoin($event)"></app-user-list>
      </div>

      <!-- Whiteboard and Settings -->
      <div class="whiteboard-container">
        <app-game *ngIf="room?.gameState === 'Waiting'" (roundChange)="handleRoundChange($event)"></app-game>

        <!-- Settings overlay -->
        <div *ngIf="room?.gameState !== 'Waiting'" class="settings-overlay">
          <app-room-settings [room]="room" [isRoomAdmin]="isRoomAdmin"
            (settingChanged)="handleSettingChange($event)"></app-room-settings>
        </div>
      </div>

      <!-- Chat -->
      <div class="chat-container">
        <app-chat name="fieldName" ngDefaultControl [messages]="chatMessages" [(ngModel)]="chatInput"
          (messageSent)="sendMessage($event)">
        </app-chat>
      </div>
    </div>

    <div class="below-canvas-container">
      <!-- Spectators Section -->
      <div class="spectator-container">
        <app-user-list class="user-team-list" [users]="users" [team]=" this.redTeam.concat(this.blueTeam)"
          [currentTeam]="currentTeam" className="Spectators" (teamChange)="handleTeamJoin($event)"></app-user-list>
      </div>

      <!-- Start Button -->
      <div class="start-button-container" *ngIf="!isRoomAdmin && room?.gameState === 'Waiting'">
        <button (click)="startGame()" class="start-button">Start!</button>
      </div>

      <!-- Invite Section -->
      <div class="invite-container">
        <p>Invite your friends!</p>
        <button (click)="copyInviteLink()">Copy Invite Link</button>
      </div>

    </div>
  </div>
</div>