.room-container {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    /* height: 100vh; */
    /* background-color: #f0f0f0; */
}

.room-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*between*/
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 8px;
    color: white;
    font-size: small;
    height: 30px;
}

.room-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 10px;
}

.team-canvas-container {
    display: flex;
    justify-content: space-between;
}

.user-team-list {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 8px;
}

.whiteboard-container {
    width: 60%;
    height: 450px;
    /* padding: 0px 5px 5px 5px;
    background-color: #e6e6e6;
    border-radius: 8px; */
}


.below-canvas-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.invite-container {
    width: 20%;
    text-align: center;
    margin: 10px 0;
}

.invite-container button {
    background-color: #0000ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.invite-container button:hover {
    background-color: #000099;
}