<div class="room-container">
  <!-- Header -->
  <div class="room-header">
    <div class="room-name">
      <h2>{{ room?.roomName }}</h2>
    </div>
  </div>

  <!-- Teams WhiteBoard Chat -->
  <div class="room-main">
    <div class="teams-canvas-chat-container">

      <div id="snackbar"></div>

      <!-- Teams -->
      <div class="teams-container">
        <!-- Red Team -->
        <app-user-list class="user-team-list red-team" [users]="users" [team]="redTeam" [currentTeam]="currentTeam"
          [roomState]="room?.roomState!" className="Red" (teamChange)="handleTeamJoin($event)"></app-user-list>
        <!-- Blue Team -->
        <app-user-list class="user-team-list blue-team" [users]="users" [team]="blueTeam" [currentTeam]="currentTeam"
          [roomState]="room?.roomState!" className="Blue" (teamChange)="handleTeamJoin($event)"></app-user-list>
      </div>

      <!-- *ngIf="room?.roomState === 'InGame'" -->
      <!-- Whiteboard and Settings -->
      <div class="whiteboard-container">
        <app-game *ngIf="room?.roomState === 'InGame'"
          (roundChange)="handleRoundChange($event)"
          (guessEnabledChange)="handleGuessEnabled($event)" (chatClear)="handleChatClear($event)"
          (roomStateChange)="handleGameEnd($event)" [isRoomAdmin]="isRoomAdmin" [users]="users!" [roomId]="roomId"
          [wordPack]="availableWords" [latestGuess$]="latestGuess$">
        </app-game>

        <!-- Settings overlay === Waiting-->
        <div *ngIf="room?.roomState === 'Waiting'" class="settings-overlay">
          <app-room-settings [room]="room" [isRoomAdmin]="isRoomAdmin"
            (settingChanged)="handleSettingChange($event)"></app-room-settings>
        </div>
      </div>

      <!-- Chat -->
      <div class="chat-container">
        <app-chat name="fieldName" ngDefaultControl [messages]="chatMessages" [(ngModel)]="chatInput"
          [enableGuessing]="this.enableGuessing" (messageSent)="sendMessage($event)" (guessSent)="sendMessage($event)">
        </app-chat>
      </div>
    </div>

    <div class="below-canvas-container">
      <!-- Spectators Section -->
      <div class="spectator-container" *ngIf="room?.roomState === 'Waiting'">
        <app-user-list class="user-team-list" [users]="users" [team]=" this.redTeam.concat(this.blueTeam)"
          [currentTeam]="currentTeam" className="Spectators" (teamChange)="handleTeamJoin($event)"></app-user-list>
      </div>

      <!-- Start Button -->
      <div class="start-button-container" *ngIf="isRoomAdmin && room?.roomState === 'Waiting'">
        <button (click)="startGame()" class="start-button">Start!</button>
      </div>

      <!-- Invite Section -->
      <div class="invite-container">
        <p class="invite-label">Invite your friends!</p>
        <button (click)="copyInviteLink()">Copy Invite Link</button>
      </div>

    </div>
  </div>
</div>