@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Fredoka', sans-serif; }

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Fredoka', sans-serif; 
    background-image: url('./assets/background-yellow.png');
    background-repeat: repeat; 
    background-position: top left;
    background-size: 1920px 1080px;
}
