.footer {
    padding: 10px 0;
    background-color: #f8f9fa; /* Example color, change as needed */
    color: #6c757d; /* Example color, change as needed */
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}