.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 0;
    margin-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 5px;
}

.message-item {
    padding: 0px 5px 10px 5px;
}

.message-item:nth-child(odd) {
    background-color: #f1f1f1;
}

.message-item:nth-child(even) {
    background-color: #e0e0e0;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.message-sender {
    font-weight: bold;
    margin-right: 10px;
}

.message-text {
    color: #333;
    word-wrap: break-word;
}

.message-timestamp {
    color: #888;
    font-size: 0.8em;
    white-space: nowrap;
}

.chat-input-container {
    margin-top: 10px;
    padding: 5px;
    font-family: 'Fredoka', sans-serif;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.form-control {
    width: calc(100% - 45px);
    padding: 5px;
    padding-right: 25px;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 5px;
    font-family: inherit;
    transition: border-color 0.5s;
}

.form-control:focus {
    outline: none;
    border: 2px solid #0e16f4;
}

.char-count {
    position: absolute;
    right: 22px;
    top: 32%;
    transform: translateY(-50%);
    color: #000;
    font-weight: 500;
    font-size: 16px;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.char-count.visible {
    opacity: 1;
    transform: scale(1);
}

.char-count.hidden {
    opacity: 0;
    transform: scale(0.8); 
}
