.user-list-container {
    width: 100%;
    border-radius: 8px;
}

.user-list-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.join-team-btn {
    flex: 1;
    padding: 5px 5px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.red-team .join-team-btn {
    background-color: white;
    color: #ff4d4d;
    border: 2px solid #ff4d4d;
}

.red-team .join-team-btn:hover {
    background-color: #ff4d4d;
    color: white;
}

.blue-team .join-team-btn {
    background-color: white;
    color: #3399ff;
    border: 2px solid #3399ff;
}

.blue-team .join-team-btn:hover {
    background-color: #3399ff;
    color: white;
}

.red-team {
    background-color: #ffcccc;
}

.blue-team {
    background-color: #cce5ff;
}

.spectator-team {
    background-color: #5eda17;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.user-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-nickname {
    font-size: 16px;
    color: #333;
}