.user-list-container {
    width: 100%;
    border-radius: 10px;
}

.user-list-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.join-team-btn {
    flex: 1;
    padding: 5px 5px;
    margin-left: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Fredoka', sans-serif;
}

.red-team .join-team-btn {
    background-color: #da2b2b;
    color: white;
    border: 1px solid black;
}

.red-team .join-team-btn:hover {
    background-color: #931313;
}

.blue-team .join-team-btn {
    background-color: #2475c5;
    color: white;
    border: 1px solid black;
}

.blue-team .join-team-btn:hover {
    background-color: #164c82;
}

.red-team {
    background-color: #ee6d6d;
    border: 1px solid black;
}

.blue-team {
    background-color: #64a6ed;
    border: 1px solid black;
}

.spectator-team {
    background-color: #eeeeee;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 8px;
}

.user-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.user-nickname {
    font-size: 20px;
    font-weight: bolder;
    color: black;
}