<div class="settings-container">
    <div class="settings-header">
        <h2>Settings</h2>
    </div>

    <div class="settings-rows">
        <div class="setting-item">
            <span class="setting-label">
                <img src="alarm-clock.png" alt="Icon" class="setting-icon">
                Draw Time
            </span>
            <select *ngIf="room" [(ngModel)]="room.roundTime" (ngModelChange)="updateDrawTime($event)"
                [disabled]="!isRoomAdmin" class="setting-select">
                <option value="40">40 seconds</option>
                <option value="60">60 seconds</option>
                <option value="80">80 seconds</option>
            </select>
        </div>

        <div class="setting-item">
            <span class="setting-label">
                <img src="folder.png" alt="Icon" class="setting-icon">
                Word Pack
            </span>
            <select *ngIf="room" [(ngModel)]="room.selectedWordPack" (ngModelChange)="updateWordPack($event)"
                [disabled]="!isRoomAdmin" class="setting-select">
                <option *ngFor="let pack of wordPacks" [value]="pack">{{ pack }}</option>
            </select>
        </div>

        <!-- Custom Words Section as a Column -->
        <div class="setting-item-column">
            <span class="setting-label">Custom Words</span>
            <textarea *ngIf="room" [(ngModel)]="room.customWords" (ngModelChange)="updateCustomWords($event)"
                [disabled]="!isRoomAdmin"
                placeholder="Separate the words by a , (comma)"
                class="setting-textarea"></textarea>
        </div>
    </div>
</div>