.settings-container {
    background-color: #585858;
    color: white;
    border-radius: 8px;
    height: 100%;
    margin-top: 0px; /* Ovo stavlja settings da bude unutar canvas okvira */ 
}

.settings-header h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 24px;
    padding: 20px;
}

.settings-rows {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-item-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setting-label {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.setting-icon {
    margin-right: 10px;
    width: 45px;
    height: 45px; 
}

.setting-select, 
.setting-textarea, 
.setting-checkbox {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: white;
    color: #333;
}

.setting-select {
    width: 150px;
}

.setting-textarea {
    height: 100px;
    resize: none; /* Prevent resizing */
}

.setting-checkbox {
    width: 20px;
    height: 20px;
}
